#whole_page {
    width: 1200px;
}

em {
    color: red;
    font-weight: bold;
}

#title {
    font-size: 66;
}

.banner {
    float: right;
}

#ff_img {
    width: 140px;
    height: 80px;
}

#searchbox {
    width: 85%;
}

#search_button {
    width: 10%;
}
