body {
    background-color: rgb(221, 229, 242);
}

.search_result {
    margin-bottom: 15px;
}

.filename {
    color: FF9900;
}

.line_number_general {
    color: blue;
}

.line_number_hit {
    font-weight: bold;
    color: 009933;
}

.line_text {
    color: black;
}

.line_text_hit {
    font-weight: bold;
    color: red;
}

.floater {
    background-color: rgb(231, 239, 252);
    box-shadow: 5px 5px 6px #888888;
}
