/* Copied from http://idlethoughtsofanotsogoodprogrammer.com/Tests/suggestion.html */

body {
    background-color: rgb(211, 219, 232);
}

#main_div{
    width: 1000px;
    margin:0 auto;
    text-align:center;
    /*margin: 0 auto;*/
    /*background-color:rgb(255, 255, 255);*/
    /*box-shadow: 10px 10px 5px #777777;*/
}

.floater {
    margin-top: 5px;
    padding: 10px 10px 10px 10px;
    background-color: rgb(221, 229, 242);
    box-shadow: 10px 10px 6px #888888;
    border-radius: 10px;
    text-align: left;
}

.main_content {
    margin-top: 15%;
    padding: 10px 10px 10px 10px;
    float: right;
    width: 100%;
    border-radius: 10px;
}

.main_input_text_1 {
    border-width: 5px;
    border-radius: 10px;
    height: 30px;
}

.button_1 {
    box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    background-color:#bddbfa;
    border-radius: 5px;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    font-style:normal;
    height:26px;
    line-height:25px;
    width:100px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #528ecc;
}
.button_1:hover {
	background: linear-gradient(to top, #bddbfa 5%, #80b5ea 100%);
}

.button_1:active {
    position:relative;
    top:5px;
}

.bullet_1 {
    box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    background-color:#bddbfa;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    font-style:normal;
    height: 26px;
    line-height: 25px;
    width: 26px;
    border-radius: 15px;
    border:1px solid #84bbf3;
    text-decoration: none;
    text-align: center;
    text-shadow:1px 1px 0px #528ecc;
}

.bullet_1:hover {
    background: linear-gradient(to bottom, #80b5ea, #bddbfa);
    content: "+";
}

.results {
    margin-top: 30px;
    padding: 10px 10px 10px 10px;
    width:100%;
    border-radius: 15px;
    float: right;
}

.help_box {
    padding: 10px 10px 10px 10px;
    width: 100%;
    border-radius: 0px 0px 15px 15px;
    float: right;
}

.title {
    height: 60px;
    width: 750px;
    font-size: 34;
    text-align: right;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.align_center {
    margin:0 auto;
    text-align:center;
}
